.package-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  overflow: hidden;
}

.package-details-client {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
  padding: 0;
  background-color: #fff;
  border-radius: 5px;
  overflow: hidden;
}

.package-details-color {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
  padding: 0;
  background-color: #fff;
  border-radius: 5px;
  overflow: hidden;
}
.details-text-header {
  width: 100%;
  text-align: center;
  margin: 0;
  text-transform: capitalize;
}
.minicard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 25%;
  height: 50%;
  padding: 0;
  margin: 1rem;
  background-color: #fff;
  border-radius: 5px;
  /* overflow: hidden; */
 
}
a {
  text-decoration: none;
  color: #000;
}

.blanca {
  background-color: white;
  text-shadow: hsl(0, 0%, 14%) 0.15em 0.15em 0.2em;
}
.negra {
  background-color: hsl(0, 0%, 10%);
}
.cafe {
  background-color: hsl(29, 100%, 26%);
}
.amarilla {
  background-color: hsl(53, 100%, 50%);
}
.naranja {
  background-color: hsl(24, 100%, 50%);
}
.rosa {
  background-color: hsl(0, 100%, 75%);
}
.roja {
  background-color: hsl(0, 100%, 50%);
}
.morada {
  background-color: hsl(315, 75%, 39%);
}
.azul {
  background-color: hsl(223, 81%, 48%);
}
.verde {
  background-color: hsl(123, 100%, 31%);
}

.color-showcase {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.30);
}