.btn-main {
  background-color: #9b0081;
  border: 1px solid #e3e3e3;
  color: rgb(238, 238, 238);
  font-size: 14px;
  font-weight: bold;
  padding: 10px 20px;
  text-align: center;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
  width: 100%;
}